
  <div class="ui card">
    <div class="content">
    <p class="header">
      Title: <%= @song.title %> <a class="ui red tag label">HOT NEW</a>
    </p>
    <div class="item">
      <span class="date">Duration: <%= @song.duration %> Minutes</span>
    </div>
    <div class="item">
      Artist: <%= @song.artist_name%>
    </div>
    <div class="extra">
    <i class="green check icon"></i>
    3 Votes
  </div>
  </div>
  <div class="ui blue label">
    <%= link_to "Edit", edit_artist_song_path(@artist, @song) %>
    <%= link_to "Back", artist_songs_path(@artist) %>
  </div>
</div>
</div>