<div class="ui raised very padded text container segment">
  <div id="bill-content" class="content">
    <p id="billboard-show" class="header">
      <%= @billboard.name %> <br />
      <a class="ui red tag label">HOT NEW SINGLES</a>
      <br />
      <i  class="green check icon"></i>
      100 Votes
    </p>
  
    <select> 
          <%= @songs.each do |s| %>  
      <option>
          <%= s.title %> 
          <%= s.id %>
      </option> 
      
        <% end %> 
    </select>
  </div>
   <br /> 
    <div id="bill-buttons" class="ui blue label">
      <%= link_to "Edit", edit_billboard_path(@billboard) %>
      <%= link_to "Back", billboards_path %>
    </div>
</div>


